<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILdapService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6441/LdapService.svc/LdapService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILdapService"
                contract="Crossover.Service.Ldap.Proxy.ILdapService" name="BasicHttpBinding_ILdapService" />
        </client>
    </system.serviceModel>
</configuration>